body {
  height: 100vh;
}
.maincontainer {
  display: flex;
  background-color: antiquewhite;
  width: 1200px;
  height: 620px;
  border-radius: 30px;
  margin-left: 20px;
}
.nav {
  display: flex;
  /* justify-content: space-between; */
  margin-top: 20px;
  margin-left: 150px;
}
/* .circle {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: red;
} */
.mockup{
  display: flex;
}
.middleinput{
/* margin-top: -610px; */
margin-left: 80px;
}
.aside {
  width: 360px;
  height: 620px;
  background-color: rgb(12, 12, 85);
  border-radius: 30px;
  align-items: center;
  justify-content: center;
  text-align: center
}
.top1 {
  width: 160px;
  height: 60px;
  border-radius: 100%;
  background-color: blue;
  margin-left: 100px;
  margin-top: 30px;
}
.top {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background-color: rgb(0, 255, 13);
  margin-left: 50px;
  margin-top: 30px;
}
input {
  border-radius:5px;
  width: 200px;
  height: 30px;
  margin-left: 20px;
  border: none;
  margin-bottom: 5px;
}
.search{
  border-radius:5px;
  width: 200px;
  height: 30px;
 
  border: none;
  margin-bottom: 5px;
}
.settings{
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: red;
  margin-left: 120px;
  margin-right: 15px;
}

.profile {
  width: 90px;
  height: 40px;
  border-radius: 10px;
  background-color: blue;
  text-align: center;
  justify-content: center;
  margin-left: 50px;
}
.vert {
  width: 180px;
  height: 20px;
  border-radius: 10px;
  background-color: rgb(24, 152, 184);
  margin-left: 80px;
  margin-top: 45px;
  text-align:unset;
  margin-bottom: -40px;
  padding: 5px;
}
.vertpic {
  width: 360px;
  height: 140px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color: rgb(51, 51, 67);
  margin-left: 0px;
  margin-top: 215px;
}
.side {
  /* background-color: antiquewhite; */
  width: 900px;
  height: 650px;
}

.leon {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-left: 30px;
}
.middlecontainer{
  display: flex;
  /* justify-content: space-between; */
  height: 200px;
  margin-top: 20px;
  margin-left: 60px;
  margin-bottom: -100px;

}
.four{
  background-color: rgb(159, 159, 249);
  height: 200px;
  width: 120px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  /* text-align: center; */
  margin-right: 10px;
}
.oneeight{
  background-color: rgb(234, 234, 250);
  height: 200px;
  width: 120px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  /* text-align: center; */
  margin-right: 10px;

}
.seventwo {
  background-color: rgb(240, 240, 250);
  height: 200px;
  width: 120px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  /* text-align: center; */
  margin-right: 10px;

}
h3 {
  margin-left: 10px;
}
.same {
  margin-left: 10px;
  color: gray;
}
.sevenTwo{
  background-color: rgba(244, 75, 137, 0.752);
  height: 200px;
  width: 120px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  /* text-align: center; */
  margin-right: 20px;

}
.eight{
  background-color: rgb(50, 29, 118);
  height: 200px;
  width: 250px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  /* text-align: center */
  color: white;
}

.bottomcontainer {
  display: flex;
  justify-content: space-between;
  margin-left: 30px;
  margin-top: 20px;

}
/* .plane {
  width: 250px;
  height: 50px;
  border-radius: 10px;
  background-color: rgb(244, 244, 238);
  margin-top: 5px;
  display:  flex;
} */
.planepic{
  width: 40px;
  height: 40px;
  margin-left: 5px;
  margin-top: 5px;
  background-color: rgb(147, 211, 243);
  border-radius: 5px;
  margin-right: 10px;
  
}

/* .phone {
  width: 250px;
  height: 50px;
  border-radius: 10px;
  background-color: rgb(248, 248, 231);
  margin-top: 10px;
  display:  flex;

} */
h6 {
  margin-bottom: 20px;
}
.phonepic{
  width: 40px;
  height: 40px;
  margin-left: 5px;
  margin-top: 5px;
  background-color: rgb(170, 228, 251);
  border-radius: 5px;
  margin-right: 10px;

}

/* .bus {
  width: 250px;
  height: 50px;
  border-radius: 10px;
  background-color: rgb(253, 253, 246);
  margin-top: 10px;
  display:  flex;
  /* justify-content: center; */
  /* align-items: center; */
  

.buspic{
  width: 40px;
  height: 40px;
  margin-left: 5px;
  margin-top: 5px;
  background-color: rgb(169, 232, 251);
  border-radius: 5px;
  margin-right: 10px;

}

h6 {
  margin-top: -1px;
}
.company {
  display: flex;
  justify-content: space-between;
  margin-right:30px;
  background-color: gray;
  width: 490px;
  padding: 10px;
  border-radius: 5px;
}
.companypic {
  width: 200px;
  height: 150px;
  background-color: blue;
  border-radius: 10px;
}

button{
  width: 140px;
  height: 30px;
  border-radius: 20px;
  background-color: blue;
}